<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <!--<add key="StorageConnection" value="o83b8R7XTpQRrH/yBwAcllHoMcYPJCmSaJw664tAK1NbM8W2IPQTYCz9hGYhYjad0XiNjvbWmmsNz/imrPPjog=="/>-->
    <add key="MIIDorder" value="ASC" />
  </appSettings>
</configuration>